/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/res
